/firefox-unpacked
/firefox-addon-sdk-url.txt
/firefox-addon-sdk
/lib/local_settings.json
/Chrome.pem
/build
*~
/Chrome/*.png
/Chrome/options.html
/Firefox/*.png
/Firefox/data/*.js
/Safari.safariextension/Settings.plist
