/build/firefox-unpacked
/build/firefox-addon-sdk-url.txt
/build/firefox-addon-sdk
/conf/local_settings.json
/build/Chrome.pem
/out
*~
/build/Chrome/*.png
/build/Chrome/options.html
/build/Firefox/*.png
/build/Firefox/data/*.js
/build/Safari.safariextension/Settings.plist
